.login {
  display: flex;
  justify-content: center;
  align-items: center;
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    border-radius: 25px;
    position: absolute;
    top: 200px;
  }
}
